<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="beanPostProcessor" class="com.bootlearn.boot.lifeCycle.MyBeanPostProcessor" p:my="mymy">
    </bean>

    <bean id="instantiationAwareBeanPostProcessor" class="com.bootlearn.boot.lifeCycle.MyInstantiationAwareBeanPostProcessor">
    </bean>

    <bean id="beanFactoryPostProcessor" class="com.bootlearn.boot.lifeCycle.MyBeanFactoryPostProcessor">
    </bean>

    <bean id="person" class="com.bootlearn.boot.lifeCycle.Person" init-method="myInit"
          destroy-method="myDestory" scope="prototype" p:name="张三" p:address="广州"
          p:phone="15900000000"  />

    <bean id="dog" class="com.bootlearn.boot.lifeCycle.Dog" init-method="myInit"
          destroy-method="myDestory" scope="prototype"  p:age="10" p:color="red">
        <property name="sex" value="female"></property>
    </bean>

</beans>